.nav-container {
  display: flex;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
a.nav-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 30px;
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nav-btn:hover {
  background-color: white;
  color: black;
}
