.weather-container {
  background-color: #050d22;
  color: white;
  height: calc(100vh);
  margin: auto;
  /* padding: 3rem; */
}
.weather-heading {
  font-weight: bold;
  text-align: center;
  /* padding: 3%; */
}

.weather-input-container {
  display: flex;
  justify-content: center;
}
.weather-search-button {
}

.weather-output {
  font-style: bold;
  font-size: 20px;
  text-align: center;
  /* padding: 1%; */
}

.cities_container {
  display: flex;
  padding: 4px;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
  background-color: #827e7e66;
}

.cities_container:hover {
  text-decoration: underline white;
  cursor: pointer;
}

.weather-input-container input {
  width: 50%;
}
