.header-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.211);
  padding: 1.2rem 0px;
  top: 0;
  transition: background-color 0.01s ease-in-out;
  /* background-color: {check && 'line-through'}; */
}
.header-container.active{
  background-color: black;

};
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .main-logo {
    display: none;
  }
}

.logo-container {
  color: rgb(255, 255, 255);
}
.main-logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 18px;
  font-size: 20px;
}
