.header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:rgba(0, 0, 0, 0.497);
    padding: 18px 20px;
    
    
       
       
}

@media only screen and (min-width:200px) and (max-width:600px) {
    .main-logo {
        display: none;   
    }
}


.logo-container{
    color: rgb(255, 255, 255);
}
.main-logo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}