
.carousel-quote{
    text-align: center;
    animation:mymove 2s infinite;
    padding:3rem 2rem;

}
.carousel-container{
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    animation:mymove 2s infinite;
}