.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-btn {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
a.menu-btn {
  color: white;
  text-decoration: none;
}
.show {
  display: block;
}

.hidden {
  display: none;
}

hr {
  width: 10%;
}
